
<div class="new-user-container">
  <h3>Profile</h3>
  <div class= "" >
    <%= render 'form' %>
  </div>
  <br>
  <%= link_to boards_path, class: "new-board-back-btn"  do %><i class="fa fa-arrow-left" aria-hidden="true"></i><% end %>
</div>
