
<div class="for-update">

  <p id="notice"><%= notice %></p>

  <h3>Account Information</h3>

  <div class= "form" >
  <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "login-submit-btn cart-clear-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", style: "text-decoration: none;" %>
    <br>

    <%= render 'form' %>
  </div>








  <%= link_to 'My Boards', boards_path, class: "login-submit-btn cart-clear-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", style: "text-decoration: none;" %>
</div>
