/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Thirsty Rough Reg One';
  src:
      local('Thirsty Rough Reg One'),
      local('ThirstyRoughRegOne-Regular'),
      url('ThirstyRoughRegOne.otf');
}

$title-font: "Thirsty Rough Reg One";
$body-font: "Lato";
$default-font: "sans-serif";
$body-background-color: #fdfaf1;

body {
  background: #fdfaf1;  // pure white is too intense for background
  // background: #fdfdfd;
  font: {
    family: $body-font, $default-font;
    size: 100%; // relative ems
  }
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}

// market search results styles

.market-search-container {
  margin-left: 5% !important;
}

// design card styles

.design-card {
  // border: 1px dashed red;
  display: inline-block;
  width: 200px;
  height: 260px;
  padding: 20px;
  font-size: 0.8em;
  white-space: nowrap;
  img {
    width: 200px;
    height: 200px;
  }
}

.design-name {
  overflow-y: hidden;
  // overflow-x: scroll;
  overflow-x: hidden;
}

.design-board-dropdown-label-wrapper,
.design-board-dropdown-wrapper,
.design-board-btn-wrapper {
  display: inline-block;
}

.design-board-dropdown {
  // border: 1px solid #666;
  width: 110px;
  height: 20px;
}

.design-board-btn {
  border: 1px solid #888;
  border-radius: 3px;
  background: #ddd;
}

// login styles

.login-background-container {
  // background image is loaded as inline style with ruby on rails templating
  background: #666;  // default background color
  width: 750px;   // this value plus padding is width of container
  height: 375px;  // this value plaus padding is height of container
  margin: 5% auto;
  padding: 125px 0 100px 0;
  border: 20px solid #fff;
}

.login-container{
  width: 407px;
  height: 407px;
  margin: auto;
}

.login-title-image {
  width: 407px;
  height: 71px;
  margin: 0 auto;
}

.login-form {
  color: #fff;
}

.login-email-wrapper,
.login-password-wrapper,
.login-or-wrapper,
.login-btn-wrapper,
.login-register-account-wrapper {
  // border: 1px dashed white;
  text-align: center;
}

.login-email-input,
.login-password-input {
  width: 240px;
  height: 30px;
  border-radius: 8px;
  font-size: 1em;
  border: 1px solid #fff;
  margin: 0 auto;
}

.login-email-input {
  margin: 30px 0 10px 0;

}

.login-password-input {
  margin: 0 0 10px 0;
}

.login-facebook-btn,
.login-pinterest-btn {
  width: 215px;
  height: 30px;
  font-weight: normal;
  font-size: 0.8em;
  color: #fff;
  padding: 5px 0 5px 0;
  // margin-bottom: 10px;
  background: #666; // default - overidden below
  border: 1px solid grey; // default - overidden below
  // a {
  //   text-decoration: none;
  //   color: #fff;
  // }
  .fa-facebook-square {
    font-size: 17px !important;
  }
  .fa-pinterest-square {
    font-size: 17px !important;
  }
}

.login-pinterest-btn {
  background: rgb(149, 25, 23);
  border: 1px solid rgb(182, 0, 79);
  margin: 10px 0;
}

.login-facebook-btn {
  background: rgb(14, 59, 119);
  border: 1px solid rgb(37, 46, 263);
  margin-bottom: 30px;
}

// .login-facebook-btn span {
// }

.login-submit-btn {
  width: 80px;
  height: 26px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #fdfdfd;
  margin: 0 0 10px 0;
  font-size: 1em;
  font-weight: bold;
}

.login-or-wrapper,
.login-register-account-wrapper {
  font-size: 1.15em;
  font-weight: bold;
  // prevents strange inheritance from unknown source
  .login-register-account-link,
  .login-register-account-link:visited {
    text-decoration: none;
    color: #fff;
    background: none;
  }
  .login-register-account-link:hover {
    text-decoration: underline;
    background: none;
  }
}

// spoonboard-continer styles

.spoonboard-continer {
  margin-left: 5% !important;
}
