/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Thirsty Rough Reg One';
  src:
    local('Thirsty Rough Reg One'),
    local('ThirstyRoughRegOne-Regular'),
    font-url('ThirstyRoughRegOne.otf');
}

$title-font: "Merriweather";
$body-font: "Lato";
$body-backup-font: "Helvetica";
$default-font: "sans-serif";
$soft-white: #fdfdfd;
// $background-color: #fdfaf1;
$background-color: #f9f9f9;
// $mint-green: #66bbb0;
// $mint-green: #5affd1;
// $mint-green: #63ffc8;
$mint-green: #39E9D2;
// $mint-green: #0DE5A8;
// $mint-green: #9dc9ba;
// $green: #1DE9B6;
// $light-green: #64FFDA;
// $blue: #00B0FF;
// $light-blue: #80D8FF;
// $grey: #999999;
$grey: #888;
// $grey: #aaaaaa;
$dark-grey: #626262;
// $dark-grey: #595B5A;
$border-radius: 3px;

body {
  margin: 0;
  // pure white is too intense for background
  background: $background-color;
  // background: #fdfdfd;
  font: {
    family: $body-font, $default-font;
    size: 100%; // relative ems ???
  }
}


h1, h2, h3, h4, h5 ,h6 {
  font: {
    family: $body-font !important;
    weight: lighter !important;
  }
}
// h1 {
//   font-size: 1.5em;
// }
//
// h2 {
//   font-size: 1.1em;
// }

// prevents strange inheritance from unknown source
a {
  text-decoration: none;
  color: #000;
  background: none;
}

 a:hover {
  text-decoration: underline;;
  color: #000;
  background: none;
}

#notice {
  color: $grey;
}

.notice-wrapper {
  margin: 35px auto 0 auto;
  height: 16px;
  width: 300px;
  text-align: center;
}

// search results styles

.search-results-container {
  margin: 0 5%;
  min-width: 520px;
  // max-width: 1200px;
}

// design card styles

.design-card {
  display: inline-block;
  position: relative;
  // border: 1px solid $grey;
  border-radius: $border-radius;
  width: 200px;
  height: 200px;
  // padding: 5px;
  margin: 0 5px 8px 0;
  // font-size: 0.8em;
  // white-space: nowrap;
  // background: #fdfdfd;
  // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  img {
    width: 200px;
    height: 200px;
    // border: 1px solid $dark-grey;
    border-radius: $border-radius;
  }
}

.design-name,
.design-id {
  // overflow: hidden !important;
  font-size: 1.0em !important;
  color: #fff !important;
}

.design-name-wrapper span,
.design-id-wrapper span,
.design-board-dropdown-label {
  // overflow: hidden !important;
  font-size: 0.9em;
  color: $grey;
}

.design-board-dropdown-label {
  font-size: 1.0em !important;
}

// scroll bar styles - no cross browser comapatible
// .design-name::-webkit-scrollbar {
//     width: 12px;
// }
//
// .design-name::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     border-radius: 10px;
//     background: #666;
// }
//
// .design-name::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
//     background: #666;
// }


.design-board-dropdown-label-wrapper,
.design-board-dropdown-wrapper,
.design-board-btn-wrapper {
  display: inline-block;
}

.design-board-dropdown-wrapper,
.design-board-btn-wrapper  {
    // border: 1px dashed red;
}

// .design-board-dropdown-wrapper {
//   width: 112px;
// }

//==================================

// .design-card-image-wrapper {
//
// }

.design-card-image-overlay {
  // display: none;
  border-radius: $border-radius;
  position: relative;
  margin-top: -190px;
  margin-left: 10px;
  // top: 330px;
  width: 160px;
  height: 160px;
  background:rgba(0, 0, 0, 0.75);
  // background:rgba(82, 255, 209, 0.50); // light-green
  // text-align:center;
  padding: 10px;
  // margin: 10px;
  opacity:0;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
}

.design-card-image-overlay-content {
  font-family: 'Lato';
  // font-weight:bold;
  color:rgba(255, 255, 255, 1.0);
  font-size:14px;
  width: 100%;
  height: 100%;
}

.design-card-image-wrapper:hover .design-card-image-overlay {
  opacity: 1;
}

.design-card-add-board-msg {
  display: none;
  position: absolute;
  left: 65px;
  // opacity: 0;
  // height:20px;
  // border:1px dashed white;
  overflow:hidden;
  text-align: right;
  margin-top: 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: $soft-white;
}

//===================================

.design-board-dropdown {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid $grey;
    background: rgba(0 , 0, 0, 0);
    width: 120px !important;
    padding: 4px 8px 4px 4px !important;
    font-size: 0.8em !important;
    color: $soft-white !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(asset_path('arrow-down-black.png')) 101% / 15% no-repeat !important;
}

.design-board-overlay-add-btn {
  // border: 1px dashed red !important;
  margin-right: -10px !important;
  // border-radius: $border-radius !important;
}

.design-board-btn {
  // border: 1px solid #888;
  // border-radius: $border-radius !important;
  // background: #ddd;
  box-shadow: none !important;
}

.design-board-add-to-cart-btn {
  background: $mint-green !important;
}

.design-board-add-to-cart-btn:hover {
  background: lighten($mint-green, 10%) !important;
}

.design-board-copy-btn:hover {
  background: darken(rgb(225, 225, 225), 3%) !important;
}

.design-card-overlay-add-button:hover {
  background: rgba(239, 239, 239, 0.40) !important;
  color: rgba(0, 0, 0, 0.80) !important;
}

// show board styles

.board-container {
  // border: 1px dashed red;
  border-radius: $border-radius;
  // width: auto;
  // width: 1014px;
  // height: 260px;
  // padding: 0 10px;
  margin: 0 auto 10px auto;
  // font-size: 0.8em;
  // white-space: nowrap;
  min-width: 520px;
  max-width: 1055px;
  // background: #fdfdfd;
  background: rgba(255, 255, 255, 0);
  // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.board-card {
  display: inline-block;
  // border: 1px solid $grey;
  // border-top: 3px solid $background-color;
  // border-bottom: 3px solid $background-color;
  border-radius: $border-radius;
  width: 200px;
  height: 290px;
  // padding: 1px;
  // margin: 0 0 15px 15px;
  font-size: 0.8em;
  white-space: nowrap;
  background: #fff;
  margin: 10px 3px 0 2px;
  // box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  img {
    width: 200px;
    height: 200px;
    // border: 1px solid #999;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }
}

.board-card-design-name-wrapper {
  font-size: 1.15em;
}

.board-card-design-name-wrapper,
.board-card-design-dropdown-wrapper,
.board-card-design-btn-wrapper {
  margin-left: 10px;
  // border: 1px dashed red;
}

.board-card-design-btn-wrapper {
  display: inline-block;
}

.board-name-wrapper {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  // border: 1px solid $grey;
  background: #fff;
  text-align: center;
  margin: 0 6px;
  padding: 0 0 10px 0;
}

.board-function-bar {
  background: #fff;
  color: $grey;
  .board-function-bar-item {
    display: inline-block;
    margin: 5px;
  }
  display: none;
}

.board-function-bar-items {
  // border: 1px dashed red;
  border-radius: $border-radius;
  margin:  10px 174px 0 174px;
  padding: 5px 0px 5px 0;
  list-style: none;
  background: $background-color;
  li {
    // text-align: left;
    // border: 1px dashed red;
    // margin-right: 44px;
    display: inline-block;
  }
}
.board-name {
  // border: 1px dashed red;
  // border-top-right-radius: 3px;
  // border-top-left-radius: 3px;
  padding: 0  0 0 44px;
  line-height: 1.4;
  height: 40px;
  color: $dark-grey;
  font: {
    family: $body-font;
    weight: lighter;
    size: 2em;
  }
}

.board-function-hamburger {
  // border: 1px dashed red;
  // position: relative;
  float: right;
  margin: 0 10px;
  right: 10px;
  color: $grey;
  font-size: 1em !important;
}

.board-function-hamburger:hover {
  color: $dark-grey;
}

.board-design-hover-content {
  // display: none;
}

.board-card-design-name {
    color: $dark-grey;
}

.board-show-update-btn {
  color: $dark-grey !important;
  // border-radius: $border-radius !important;
}

// gridster style

.gridster ul {
  font-family: $body-font;
  font-size: 14px;
  line-height: 20px;
  list-style-type: none;
}


// .board-card design-thumbnail:hover {
//   color: yellow;
//   .board-design-hover-content {
//     display: block;
//     position: absolute;
//     top: 500px;
//     left: 20px;
//   }
// }

// login styles

.login-background-container {
  // background image is loaded as inline style with ruby on rails templating
  background: #666;  // default background color
  width: 750px;   // this value plus padding is width of container
  height: 375px;  // this value plaus padding is height of container
  margin: 5% auto;
  padding: 125px 0 100px 0;
  border: 20px solid #fff;
}

.login-container{
  width: 350px;
  height: 407px;
  margin: auto;
}

.login-title-image {
  // border: 1px dashed red;
  width: 350px;
  height: 111px;
  margin: -45px auto 20px auto;
}

.login-form {
  // border: 1px dashed red;
  // color: #fff;
  background: #fff;
  padding: 10px;
}

.login-email-wrapper,
.login-password-wrapper,
.login-or-wrapper,
.login-btn-wrapper,
.login-register-account-wrapper {
  // border: 1px dashed white;
  text-align: center;
}

.login-btn-wrapper {
  margin-bottom: 10px;
}

.login-email-input,
.login-password-input {
  // width: 200px !reimportant;
  // height: 30px;
  // border-radius: 8px;
  font-size: 1em;
  // border: 1px solid #fff;
  margin: 0 0 0 13px !important;
}

.login-email-label,
.login-password-label {
  margin: 0 0 0 13px !important;
}

// .login-email-input {
//   margin: 30px 0 10px 0;
//   padding: 0 6px;
// }
//
// .login-password-input {
//   margin: 0 0 10px 0;
//   padding: 0 6px;
// }

.login-facebook-btn,
.login-pinterest-btn  {
  // width: 215px;
  // height: 30px;
  // font-weight: normal;
  // font-size: 0.8em;
  // color: #fff;
  // padding: 5px 0 5px 0;
  // margin-bottom: 10px;
  // background: #666; // default - overidden below
  // border: 1px solid grey; // default - overidden below
  // a, a:hover {
  //   text-decoration: none;
  //   color: #fff;
  // }
  // .fa-facebook-square {
  //   font-size: 17px !important;
  // }
  // .fa-pinterest-square {
  //   font-size: 17px !important;
  // }
  box-shadow: none !important;
}

.login-pinterest-btn:hover,
.login-facebook-btn:hover {
  // background: rgb(182, 0, 79);
  // border: 1px solid rgb(182, 0, 79);
  // margin: 10px 0;
  background: darken(rgb(225 ,225 ,225), 3%) !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

// .login-facebook-btn {
//   background: rgb(37, 46, 263);
//   border: 1px solid rgb(37, 46, 263);
//   margin-bottom: 10px;
// }

// .login-twitter-btn {
//   background: rgb(0, 172, 237);
//   border: 1px solid rgb(37, 46, 263);
//   margin-bottom: 30px;
// }

// .login-facebook-btn span {
// }

.login-submit-btn {
  // width: 80px;
  // height: 26px;
  border-radius: $border-radius !important;
  // border: 1px solid #fff;
  // background: #fdfdfd;
  // margin: 0 0 10px 0;
  // font-size: 1em;
  // font-weight: bold;
  box-shadow: none !important;
}

.login-or-wrapper,
.login-register-account-wrapper {
  font-size: 1.15em;
  font-weight: bold;
  color: $dark-grey;
  .login-register-account-link,
  .login-register-account-link:visited {
    text-decoration: none;
    color: $dark-grey;
    background: none;
    font-weight: bold;
  }
  .login-register-account-link:hover {
    text-decoration: underline;
    background: none;
    font-weight: bold;
  }
}

// spoonboard-continer styles

// .spoonboard-continer {
  // margin-left: 5% !important;
// }

// application.html.erb <%= yeild =>

.yield-container {
  // display: inline-block;
  // position: relative;
  // top: 300px;
  width: 100%;
  // margin: 0 25px;
  margin: 0;
}

//  header style

header {
  width: 100%;
  height: 176px;
  margin: 0;
  background: #fff;
  // border-bottom: 1px solid #bbb;
  .nav-wrapper, div {
    // border: 1px dashed red;
  }
  ul {
    // border: 1px dashed red;
    display: inline-block;
    list-style: none;
    float: right;
    // width: 500px;
    height: 52px;
    margin: 0;
    padding: 0;
    background: #fff;
    li {
      // border: 1px dashed red;
      display: inline-block;
      height: 50px;
    }
    li a {
      // border: 1px dashed blue;
      display: block;
      margin-right: 20px;
      height: 48px;
      text-decoration: none !important;
      // font-size: 1.2em;
      line-height: 3.5em;
      color: $grey;
    }
    li a:hover {
      border-bottom: 2px solid $dark-grey;
      // border-bottom: 3px solid red;
      // border-bottom: 2px solid #bbb;
      color: $dark-grey;
    }
  }
}

// cart icon in .nav-wrapper
.fa-shopping-cart {
  color: $mint-green;
  vertical-align: middle;
  font-size: 2.5em !important;
}

// no border effect on cart icon hover
#nav-cart a:hover {
  border-bottom: 0 solid $background-color !important;
  i {
    color: $dark-grey !important;
  }
}

.header-title {  // main page title
  // border: 1px dashed red;
  display: inline-block;
  // font-family: $title-font;
  // font-size: 1.5em;
  // font-weight: normal;
  // width: auto;
  // height: 60px;
  margin: 0;
  padding: 10px 10px 4px 20px;
  // line-height: 2.5;
  // background: #fff;   default
  // color: $dark-grey;         default
  // background: -webkit-linear-gradient(right, #aaa, #333);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

// .header-title {
  // position: absolute;
  // top: 30px;
  // left: 30px;

  // height: auto;
  // width: auto;
  // line-height: 1.1em;
  // font: {
    // family: $title-font;
    // size: 3.5em;
  // }
  // color: $dark-grey;
// }

.header-title-logo {
  width: 260px;
  // border: 1px dashed red;
}

.header-tag-line {
  // border: 1px dashed red;
  // position: absolute;
  // top: 71px;
  // left: 60px;
  padding: 0 10px 7px 20px;
  width: auto;
  font: {
    size: 1.1em;
    family: $body-font;
    weight: normal;
  }
  color: $dark-grey;
}

// .header-images {
//   display: inline-block;
//   border-top: 2px solid #fdfdfd;
//   border-bottom: 2px solid #fdfdfd;
//   border-left: 0px;
//   border-right: 0px;
//   width: 100px;
//   height: 100px;
// }

.header-images-wrapper {
  background: $mint-green;
  // background: #ccc;
  // border-top: 1px solid $grey;
  // border-bottom: 1px solid $grey;
  width: 100%;
  // height: 104px;
  // height: 112px;
  height: auto;
  overflow: hidden;
}

.header-search-container {
  width: 338px;
  height: 60px;
  margin: -90px auto 0 auto;
  padding: 0 10px 0 10px;
  // border: 1px solid $grey;
  border-radius: $border-radius;
  background: $soft-white;
}

.header-search-title,
.header-search-input-wrapper {
  display: inline-block;
  padding: 0 10px 0 0;
}

.header-search-btn-wrapper {
  display: inline-block;
}

.header-search-title {
  font: {
    size: 1.2em;
    weight: bold;
  }
  color: $soft-white;
}

.header-search-input {
  // border: 1px solid #999;
  border-radius: $border-radius;
  font-size: 1.1em;
  line-height: 1.5;
  padding: 0 6px;
  width: 226px;
}

// .header-search-btn-wrapper input {
.header-search-btn {
  // border: 1px solid #999;
  // border-radius: $border-radius;
  font: {
    family: $body-font;
    size: 1.1em;
    weight: bold;
  }
  line-height: 1;
  padding: 4px 10px;
  background: #eee;
}

// .header-images-overlay {
//   position: absolute;
//   top: 58px;
//   z-index: 1000;
//   height: 100px;
//   width: 100%;
//   background: rgba(0, 0, 0, 0.25);
// }

// footer styles

footer {
  margin-top: 25px;
  // margin: 25px;
  // border-top: 2px solid $blue;
  // border-top: 1px solid $dark-grey;
  // background: #d0d0d0 !important;
  background: #fff !important;
}

// .footer-container {
//   width: 100%;
//   border-top: 2px solid $light-blue;
// }

.footer-logo {
  position: inherit;
  float: right;
  width: 175px;
  // height: 36px;
  // margin-top: -5px;
  // right: 25px;
  // bottom: 35px
}

.mdl-logo {   // override MDL class
  font: {
    family: $title-font;
    // weight: bold;
    size: 1.2em;
  }
  color: $dark-grey !important;
  margin-bottom: 4px;
}

.mdl-mini-footer__left-section {   // override MDL class
  padding-top: 7px !important;
}

//  boards index style

.boards-index-container {
  margin: 0 auto;
  min-width: 520px;
  max-width: 1030px;
  padding: 0 0 0 5px;
}

.boards-index-card {
  display: inline-block;
  // border: 1px solid $grey;
  border-radius: $border-radius;
  margin: 10px 10px 0 0;
  padding: 5px;
  background: #fff;
  // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  .boards-index-card-image-wrapper {
    display: inline-block;
    float: left;
    margin: 10px 5px 10px 10px;
  }
  .boards-index-card-btn-container {
    display: inline-block;
    float: right;
    height: 125px;
    margin: 10px 10px 10px 5px;
  }
}

.boards-index-card-name {
  // background: $grey;
  color: $dark-grey;
  text-align: center;
  font: {
    family: $title-font;
    size: 1.3em;
  }
  line-height: 1.4em;
}

.boards-index-card-image {
  width: 125px;
  height: 125px;
  // border: 1px solid $grey;
  border-radius: $border-radius;
}

.boards-index-card-btn-wrapper {
  margin: 0 0 12px 0;
}
.boards-index-create-btn,
.boards-index-show-btn,
.boards-index-edit-btn,
.boards-index-remove-btn {
    // border: 1px solid #999;
    // border-radius: $border-radius !important;
    box-shadow: none !important;
    font: {
      family: $body-font;
      size: 1.1em;
      weight: bold;
    }
    line-height: 1;
    padding: 4px 10px;
    background: #eee;
}

.boards-index-create-btn:hover {
  background: darken(rgb(225, 225, 225), 3%) !important;
}

.board-private-message {
  margin: 0 0 10px 0;
}

.boards-index-card-remove-btn {
  color: $dark-grey !important;
  // border-radius: $border-radius !important;
}

// cart styles

.cart-container {
  margin: 0 auto;
  width: 845px;
}

.cart-item-container {
  display: inline-block;
  // border-bottom: 1px solid $grey;
  // border: 2px solid #aaa;
  border-radius: $border-radius;
  margin: 0;
  padding: 10px;
  width:90%;
  width: 100%;
  height: 50px;
  font-family: $body-font;
  font-size: 1.1em;
  line-height: normal;
  li {
    display: inline-block;
    text-decoration: none;
    // border: 1px dashed red;
  }
  li div {
    display: inline-block;
  }
}

.cart-item-labels-container {
  border-radius: 0;
  border-bottom: 1px solid $grey;
  height: 20px;
}

.cart-item-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: $border-radius;
}

// refactor !!!
.cart-item-btn {
  // border: 1px solid #999;
  // border-radius: 5px;
  font: {
    family: $body-font;
    size: 0.8em;
    weight: bold;
  }
  box-shadow: none !important;
  // color: $soft-white !important;
  // line-height: 1;
  // padding: 4px 10px;
  // background: #eee;
}

.cart-checkout-btn:hover {
  background: lighten($mint-green, 10%) !important;
}

.cart-clear-btn:hover {
  background: darken(rgb(225, 225, 225), 3%) !important;
}

.cart-checkout-btn {
  background: $mint-green !important;
}

.cart-checkout-btn-wrapper {
  // border: 1px dashed red;
  // border-bottom: 2px solid $grey;
  width: 100%;
  padding: 10px;
  text-align: right;
}

.cart-item-totals-wrapper {
  // border: 1px dashed red;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  width: 100%;
  margin: 0;
  padding: 10px;
  div {
    // border: 1px dashed red;
    display: inline-block;
    width: 65px;
    padding: 5px;
    margin: 0 0 0 10px;
    font-size: 1.1em;
    line-height: normal;
  }
}

.cart-item-totals-label {
  text-align: right;
  width: 65px;
  margin-left: 550px !important;
}

.cart-item-label-thumbnail {
  font-size: 1.0em;
  font-weight: bold;
  width: 58px;
}

.cart-item-label-thumbnail,
.cart-item-label-name,
.cart-item-label-fabric ,
.cart-item-label-quantity,
.cart-item-label-price {
  font-size: 1.0em;
  // font-weight: bold;
  color: $grey;
}

.cart-item-label-name {
  width: 310px;
}

.cart-item-label-fabric {
  width: 195px;
}

.cart-item-label-quantity {
  width: 75px;
}

.cart-item-label-price {
  width: 131px;
  padding: 0 0 0 15px;
}

.cart-item-name {
  width: 280px;
  margin: 0 15px;
}

.cart-item-quantity {
  width: 40px;
  margin: 0 15px;
  font-size: 0.9em;
}

.cart-item-fabric {
  // position: relative;
  width: 200px !important;
  font-size: 1.0em !important;
}

.cart-item-price  {
  width: 50px;
  margin: 0 15px;
}

.cart-item-name,
.cart-item-price {
  // position: relative !important;
  // margin-bottom: 10px;
  border: 0;
  font-size: 1.0em;
  background: $background-color;
}

.cart-update-btn,
.cart-remove-btn {
  margin: 0 10px !important;
  // border-radius: $border-radius !important;
}

.cart-show-da-money {
  text-align: right;
}

#board_name {
  border: 0;
  border-bottom: 1px solid $grey;
  font-size: 1.0em !important;
  line-height: normal;
  background: rgba(0 , 0, 0, 0);
}

#design_board_id {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $grey;
  background: rgba(0 , 0, 0, 0);
  width: 150px;
  padding: 5px 10px 5px 5px;
  font-size: 1.1em !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(asset_path('arrow-down-grey.png')) 101% / 16% no-repeat !important;
}

#board_fabric_type,
#cart_item_fabric_type {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $grey;
  background: rgba(0 , 0, 0, 0);
  width: 195px;
  padding: 5px 10px 5px 5px;
  font-size: 0.9em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(asset_path('arrow-down-black.png')) 101% / 13% no-repeat;
}

#board_fabric_type {
  font-size: 1.0em !important;
  line-height: normal;
}

#cart_item_quantity {
  border: 0;
  border-bottom: 1px solid $grey;
  padding: 5px 0px 5px 5px;
  font-size: 0.9em;
  background: rgba(0 , 0, 0, 0);

}

// #cart_item_fabric_type:before {
//   content: "\25AE";  this is your text. You can also use UTF-8 character codes as I do here
//   font-family: FontAwesome;
//   color: red;
//   left:-5px;
//   position:absolute;
//   top:0;}


// new board style

.new-board-title-container {
  // border: 1px dashed red;
  // background: $soft-white;
  width: 210px;
  margin: 20px auto 0 auto;
  padding: 0 20px;
}

.new-board-container {
  // border: 1px dashed red;
  width: 210px;
  margin: 0 auto;
  padding: 20px;
}

.new-board-back-btn {
  color: $dark-grey;
  text-decoration: none;
  font-size: 2em;
}

// new user style

.new-user-title-container {
    // border: 1px dashed red;
    width: 250px;
    margin: 20px auto 0 auto;
    padding: 0 20px;
  }

.new-user-container {
  // border: 1px dashed red;
  width: 250px;
  margin: 0 auto;
  padding: 20px;
}

.new-user-container input {
  border: 0;
  border-bottom: 1px solid $grey;
  background: $background-color;
  font-size: 1em;
}

.checkout-amount {
  // border: 1px dashed red;
  width: 150px;
  margin: 0 auto;
  font: {
    family: 'Lato';
    size: 1.5em;
  }
}

.order-receipt {
  // border: 1px dashed red;
  width: 350px;
  margin: 0 auto;
}
